.texture-backround {
  background-image: url(../assets/images/texture/paper.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: #000;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 90;
}

.parent {
  width: 33vw;
  height: 33vw;
  background-color: #f00;
  position: relative;
}

.child {
  width: 5vw;
  height: 5vw;
  background-color: #000;
}

.child-sq {
  background-color: #f00;
}

.child-circle {
  background-color: green;
  border-radius: 999rem;
}

.support-btn {
  background-color: green;
  color: #fff;
  position: fixed;
  inset-inline-end: 50px;
  inset-block-end: 50px;
}